/*add zero styles to page*/
body {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

/*-----------*/
@font-face {
    font-family: 'gilroybold';
    src: url('../JulPract/fonts/gilroy-bold-webfont.woff2') format('woff2'),
         url('../JulPract/fonts/gilroy-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'gilroymedium';
    src: url('./fonts/gilroy-medium-webfont.woff2') format('woff2'),
         url('./fonts/gilroy-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyregular';
    src: url('./fonts/gilroy-regular-webfont.woff2') format('woff2'),
         url('./fonts/gilroy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroysemibold';
    src: url('./fonts/gilroy-semibold-webfont.woff2') format('woff2'),
         url('./fonts/gilroy-semibold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

.header {
    position: absolute;
}
.header__wrapper {
}
.header__container{
    max-width: 1240px;
    height: 125px;
}
.header__body {
}
.header__main {
}
.header__logo{
    font-family: 'gilroybold';
    font-size: 24px;
}

.header__logo{
    text-decoration: none;
    color: #000 !important;
}
.menu__link{
    text-decoration: none;
    color: #000 !important;
}



